[Unit]
Description=The SFU Media Stream Cluster
After=network.target

[Service]
Type=forking
Restart=always
ExecStart=/etc/init.d/sfu start
ExecReload=/etc/init.d/sfu reload
ExecStop=/etc/init.d/sfu stop

[Install]
WantedBy=multi-user.target
